#!/usr/bin/env bash
# {{ ansible_managed }}

set -e

systemctl stop nomad.service && systemctl disable nomad.service
rm -rf {{ nomad_install_path }} && \
rm -rf /var/lib/nomad && \
rm -rf /etc/nomad.d && \
rm -rf /run/nomad && \
rm /usr/local/sbin/nomad && \
rm /etc/systemd/system/nomad.service