{
  "service": {
    "name": "vault",
    "tags": [ "{{ vault_datacenter }}" ],
    "port": 8200,
    "checks": [
      {
        "http": "http://localhost:8200/v1/sys/health",
        "interval": "10s"
      }
    ]
  }
}
